<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764651112698-n5h4avr1os8lim6kusnpl4hlipcrq6jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764651112698-n5h4avr1os8lim6kusnpl4hlipcrq6jb</string>
	<key>API_KEY</key>
	<string>AIzaSyC6oBf03zlV-UHGi0w3J1WDMnftlaVuvWY</string>
	<key>GCM_SENDER_ID</key>
	<string>764651112698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yen.Tap</string>
	<key>PROJECT_ID</key>
	<string>meter-f7783</string>
	<key>STORAGE_BUCKET</key>
	<string>meter-f7783.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764651112698:ios:ef5123f6a1debea24d6143</string>
</dict>
</plist>